:root {
    --font-color: rgb(33, 37, 41);
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size: 16px;
    --white: rgb(255, 255, 255);
    --black: #000;
    --input-border: rgb(206, 212, 218);
    --disabled: rgb(233, 236, 239);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
}
.main-title h1 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(222, 226, 230);
}
.text-center {
    text-align: center;
}
.wrapper {
    background-color: var(--white);
    padding: 30px;
    position: relative;
}
.table-container {
    position: relative;
}
.table-container .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.table-container .spinner img {
    width: 50px;
}
.searchBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 241px;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 241px;
    width: 100%;
    height: 38px;
    font-size: var(--font-size);
    background-color: var(--white);
    border: 1px solid var(--input-border);
    border-radius: 4px;
    padding: 6px 12px;
}
.search-bar:is(:focus, .active, :active, :focus-visible) {
    border-color: rgb(173, 181, 189);
    outline-color: rgb(173, 181, 189);
}
.search-bar:is(:disabled) {
    background-color: var(--disabled);

}
.searchBar-container .short-cut {
    font-size: 12px;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 2px;
    height: 24px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th {
    font-weight: 700;
}

th, td {
    border: 1px solid rgb(222, 226, 230);
    padding: 8px;
    text-align: left;
}

table thead tr {
    border-bottom: 1px solid var(--font-color);
}

table tbody tr:not(:first-child) {
    border-bottom: 1p solid rgb(222, 226, 230);

}

.pagination-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid rgb(222, 226, 230);
    margin-top: 10px;
}

.showing-entries {
    display: flex;
    align-items: center;
    gap: 5px;
}
.showing-entries select {
    padding: 5px;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 4px;
}
.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.pagination .btn {
    padding: 5px 10px;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 4px;
    cursor: pointer;
}
.pagination .btn-page:is(.active) {
    background-color: rgb(0, 123, 255);
    color: var(--white);
}
.flag-name {
    display: flex;
    align-items: center;
    gap: 5px;
}
.flag-name img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid rgb(222, 226, 230);
}   


@media screen and (max-width: 600px) {
    .wrapper {
      padding: 30px 16px;
    }
    table {
      border: 0;
    }
    
    table thead {
      display: none;
    }
    
    table tr {
      border-bottom: 3px solid var(--input-border);
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid var(--input-border);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      font-size: 14px;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    .text-center {
      text-align: center;
      justify-content: center;
    }
  }
  